<form class="form">
  <mat-form-field floatLabel="never" style="float: left;">
    <input matInput placeholder="Search" />
  </mat-form-field>
  <div class="row" style="float: left;">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button
          class="btn btn-outline-primary"
          id="dropdownBasic1"
          ngbDropdownToggle
        >
          Sort by
        </button>
        <div
          ngbDropdownMenu
          aria-labelledby="dropdownBasic1"
          style="float: left;"
        >
          <button ngbDropdownItem>Featured</button>
          <button ngbDropdownItem>Newest</button>
          <button ngbDropdownItem>Oldest</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="float: left;">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button
          class="btn btn-outline-primary"
          id="dropdownBasic1"
          ngbDropdownToggle
        >
          Type
        </button>
        <div
          ngbDropdownMenu
          aria-labelledby="dropdownBasic1"
          style="float: left;"
        >
          <button ngbDropdownItem>Non Profit Organization</button>
          <button ngbDropdownItem>Civil Works</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="float: left;">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button
          class="btn btn-outline-primary"
          id="dropdownBasic1"
          ngbDropdownToggle
        >
          Field
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Engenering</button>
          <button ngbDropdownItem>Business</button>
          <button ngbDropdownItem>Charity</button>
          <button ngbDropdownItem>Medical</button>
          <button ngbDropdownItem>Others</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="float: left;">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button
          class="btn btn-outline-primary"
          id="dropdownBasic1"
          ngbDropdownToggle
        >
          Job
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Public Relations</button>
          <button ngbDropdownItem>Business Developer</button>
          <button ngbDropdownItem>Human Resources</button>
          <button ngbDropdownItem>Marketing</button>
          <button ngbDropdownItem>Project Management</button>
          <button ngbDropdownItem>SEO</button>
          <button ngbDropdownItem>Web Developer</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="float: left;">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button
          class="btn btn-outline-primary"
          id="dropdownBasic1"
          ngbDropdownToggle
        >
          Place
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Alexandria</button>
          <button ngbDropdownItem>Cairo</button>
        </div>
      </div>
    </div>
  </div>
  <button
    mat-fab
    color="primary"
    id="add-button"
    matTooltip="Add Organization"
    routerLink="/signup-OR"
    style="float: left;"
  >
    <i class="material-icons">business </i>
  </button>

  <span class="courses">
    <div class="course-card">
      <img width="100" alt="Image " src="../assets/img/3327590.jpg" />
    </div>
  </span>
  <span class="courses">
    <div class="course-card">
      <img width="100" alt="Image " src="../assets/img/3327590.jpg" />
    </div>
  </span>
</form>
