JobTitle:
<p>{{ Job.JobTitle }}</p>
CreationDate:
<p>{{ Job.CreationDateSTR }}</p>
JobDescription""
<p>{{ Job.JobDescription }}</p>
CorporatesName:
<p>{{ Job.CorporateName }}</p>
Salary:
<p>{{ Job.Salary }}</p>
CityName:
<p>{{ Job.CityName }}</p>
CountryName:
<p>{{ Job.CountryName }}</p>
YearsOfExpertise:
<p>{{ Job.YearsOFExpertiseName }}</p>

AreaOfExpertise:
<p>{{ Job.AreaOfExpertiseName }}</p>
Requirement:
<p>{{ Job.RequirementName }}</p>

<button (click)="Apply()" *ngIf="showapply()">Apply</button>
<button (click)="formsubmit()" *ngIf="showform()">Form</button>
