/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 30%;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  min-height: 300px; /* only for demonstration, should be removed */
}

.mat-tab-body-content {
  overflow-x: hidden !important;
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}
.a {
  width: 100%;
  flex: 1 1 auto;
  flex-direction: column;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
