<h1>Join Us</h1>
<h4>Note:You will be on our waiting list and we will contact you</h4>

<div class="b">Choose A Field:</div>
<button mat-button class="a" routerLink="/bd">Business Development</button>
<button mat-button class="a" routerLink="/desiging">Designing</button>
<button mat-button class="a" routerLink="/mm">Marketing and Media</button>
<button mat-button class="a" routerLink="/pr">Public Relations</button>
<button mat-button class="a" routerLink="/seo">SEO</button>
<button mat-button class="a" routerLink="/wd">Web Development</button>
