<div class="container-fluid back_img">
  <div class="container">
    <h1 class="display-2">Contact Us:</h1>

                       
    <div class="container">
      <form>
        <div class="container m-2 p-3  pb-5">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address:</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Enter Your Email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Name:</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Your Name">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Subject:</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Subject Of Inquiry">
          </div>

          <div class="form-group">
            <label for="exampleFormControlTextarea1">Message:</label>

            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
              placeholder="Your Message"></textarea>
          </div>
          <button type="submit" class="btn btn-success btn-lg">Submit</button>
        </div>
      </form>
    </div>
  </div>

</div>
