<div id="login">
  <div class="login-card">
    <div class="card-title">
      <h1>Create Account</h1>
    </div>
    <mat-card>
      <div align="center">
        <form class="my-form">
          <mat-form-field class="full-width">
            <mat-label> <mat-icon>account_circle</mat-icon>Name </mat-label>
            <input matInput placeholder="Name" name="ORname" required />
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label for="Type">Type</mat-label>
            <select id="Type" matNativeControl required>
              <option selected disabled>Type</option>
              <option value="Non Profit Organization">
                Non Profit Organization
              </option>

              <option value="Civil Works">Civil Works</option>
            </select>
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label for="Field">Field</mat-label>
            <select id="Field" matNativeControl required>
              <option selected disabled>Field</option>
              <option value=" Engenering">Engenering</option>
              <option value="Business">Business</option>
              <option value=" Charity">Charity</option>
              <option value=" Medical">Medical</option>
              <option value=" Others">Others</option>
            </select>
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label> <mat-icon>location_on</mat-icon>Country </mat-label>

            <input
              placeholder="country"
              aria-label="Number"
              matInput
              [formControl]="myControl1"
              [matAutocomplete]="auto"
              required
            />
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option
                *ngFor="let country of filteredcountry | async"
                [value]="country"
              >
                {{ country }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label> <mat-icon>location_on</mat-icon>City </mat-label>
            <input
              placeholder="City"
              aria-label="Number"
              matInput
              [formControl]="myControl2"
              [matAutocomplete]="auto"
              required
            />
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option
                *ngFor="let city of filteredcity | async"
                [value]="city"
              >
                {{ city }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label> <mat-icon>location_on</mat-icon>Address </mat-label>
            <input matInput placeholder="Address" name="address" required />
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label> <mat-icon>school</mat-icon>University </mat-label>
            <input
              placeholder="University"
              aria-label="Number"
              matInput
              [formControl]="myControl"
              [matAutocomplete]="auto"
              required
            />
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option
                *ngFor="let university of filtereduniversity | async"
                [value]="university"
              >
                {{ university }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label> <mat-icon>school</mat-icon>Faculty </mat-label>
            <input
              matInput
              name="Faculty"
              placeholder="Faculty"
              required
              autocomplete="on"
            />
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label> <mat-icon>email</mat-icon>Email </mat-label>
            <input
              type="email"
              matInput
              placeholder="Email"
              name="email"
              required
            />
          </mat-form-field>
          <form [formGroup]="form" (ngSubmit)="submit()">
            <mat-form-field class="full-width">
              <mat-label for="password">
                <mat-icon>lock</mat-icon>Password
              </mat-label>
              <input
                id="password"
                placeholder="Password"
                type="Password"
                name="password"
                matInput
                showHideInput
                required
              />
              <i
                matSuffix
                formControlName="password"
                class="material-icons"
                showHideTrigger="password"
                [showHideStatus]="{ materialIcon: true, id: 'password' }"
              ></i>
              <mat-error
                *ngIf="f.password.touched && f.password.invalid"
                class="alert alert-danger"
              >
                <mat-error *ngIf="f.password.errors.required"
                  >Password is required.</mat-error
                >
              </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label for="confirm_password">
                <mat-icon>lock</mat-icon>Confirm Password
              </mat-label>
              <input
                formControlName="confirm_password"
                matInput
                id="confirm_password"
                type="Password"
                placeholder="Confirm Password"
                name="Confirm Password"
                showHideInput
                required
              />
              <i
                matSuffix
                class="material-icons"
                showHideTrigger="confirm_password"
                [showHideStatus]="{
                  materialIcon: true,
                  id: 'confirm_password'
                }"
              ></i>
              <mat-error
                *ngIf="f.confirm_password.touched && f.confirm_password.invalid"
                class="alert alert-danger"
              >
                <mat-error *ngIf="f.confirm_password.errors.required"
                  >Password is required.</mat-error
                >
                <mat-error *ngIf="f.confirm_password.errors.confirmedValidator"
                  >Password and Confirm Password must be match.</mat-error
                >
              </mat-error>
            </mat-form-field>
          </form>
        </form>
        <mat-card-actions>
          <div align="center">
            <button mat-raised-button color="primary">Sign Up</button>
          </div>
          <p>Already have Account ?<a routerLink="/signin">Sign In</a></p>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>
</div>
