<form
  class="example-form"
  [formGroup]="JobForm"
  (ngSubmit)="onFormSubmit(JobForm.value)"
>
  <p class="example-full-width" class="input-group mb-3" cellspacing="0">
    <mat-form-field class="example-full-width">
      <mat-label>Job Name</mat-label>
      <input
        matInput
        class="form-control"
        placeholder="Job Name"
        formControlName="JobTitle"
      />
      <mat-error *ngIf="f.JobTitle.touched && f.JobTitle.invalid">
        <mat-error *ngIf="f.JobTitle.errors.required"
          >Job Name is required.</mat-error
        >
      </mat-error>
    </mat-form-field>
  </p>
  <!-- <p class="example-full-width" class="input-group mb-3" cellspacing="0">
    <mat-form-field class="example-full-width">
      <mat-label>Corporate</mat-label>
      <input
        matInput
        class="form-control"
        placeholder="Corporate Name"
        formControlName="CorporateId"
      />
      <mat-error *ngIf="f.CorporateId.touched && f.CorporateId.invalid">
        <mat-error *ngIf="f.CorporateId.errors.required"
          >CorporateId is required.</mat-error
        >
      </mat-error>
    </mat-form-field>
  </p> -->
  <!-- <mat-form-field appearance="fill">
    <mat-label>Corporate Name </mat-label>
    <mat-select class="form-control" formControlName="CorporateId">
      <mat-option selected>--</mat-option>

      <mat-option *ngFor="let corporate of Corporate" [value]="corporate.Id">
        {{ corporate.CorporateName }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="f.CorporateId.touched && f.CorporateId.invalid">
      <mat-error *ngIf="f.CorporateId.errors.required"
        >Corporate Name is required.</mat-error
      >
    </mat-error>
  </mat-form-field> -->
  <p class="example-full-width" cellspacing="0">
    <mat-form-field class="example-full-width">
      <mat-label> Job Description</mat-label>
      <textarea
        matInput
        class="form-control"
        placeholder=" Job Description"
        formControlName="JobDescription"
      ></textarea>
      <mat-error *ngIf="f.JobDescription.touched && f.JobDescription.invalid">
        <mat-error *ngIf="f.JobDescription.errors.required">
          Job Description is required.</mat-error
        >
      </mat-error>
    </mat-form-field>
  </p>
  <p class="example-full-width" cellspacing="0">
    <mat-card>
      <section>
        <mat-label>DisplaySalary </mat-label>

        <mat-radio-group class="form-control" formControlName="DisplaySalary">
          <mat-radio-button class="example-margin" value="True"
            >True</mat-radio-button
          >
          <mat-radio-button class="example-margin" value="False"
            >False</mat-radio-button
          >
        </mat-radio-group>
      </section>
    </mat-card>
  </p>
  <p class="example-full-width" cellspacing="0">
    <mat-form-field class="example-full-width">
      <mat-label>Salary </mat-label>
      <input
        matInput
        type="number"
        class="form-control"
        placeholder="Salary "
        formControlName="Salary"
      />
    </mat-form-field>
  </p>
  <p class="example-full-width" cellspacing="0">
    <mat-form-field class="example-full-width">
      <mat-label>Requirements </mat-label>
      <textarea
        matInput
        class="form-control"
        placeholder="Requirements "
        formControlName="Requirements"
      ></textarea>
      <mat-error *ngIf="f.Requirements.touched && f.Requirements.invalid">
        <mat-error *ngIf="f.Requirements.errors.required"
          >Requirements is required.</mat-error
        >
        <mat-error *ngIf="f.Requirements.errors.pattern"
          >Please, Enter valid Requirements</mat-error
        >
      </mat-error>
    </mat-form-field>
  </p>
  <p class="example-full-width" cellspacing="0">
    <mat-form-field class="example-full-width">
      <mat-label>Years Of Experience </mat-label>
      <mat-select class="form-control" formControlName="YearsOfExperience">
        <mat-option selected>--</mat-option>

        <mat-option
          *ngFor="let yearsOfExperience of YearsOfExperience"
          [value]="yearsOfExperience.Id"
        >
          {{ yearsOfExperience.YearsOfExperienceThreshold }}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="f.YearsOfExperience.touched && f.YearsOfExperience.invalid"
      >
        <mat-error *ngIf="f.YearsOfExperience.errors.required"
          >Years Of Experience is required.</mat-error
        >
      </mat-error>
    </mat-form-field>
  </p>
  <mat-form-field appearance="fill">
    <mat-label>Area Of Expertise </mat-label>
    <mat-select class="form-control" formControlName="AreaOfExpertise">
      <mat-option selected>--</mat-option>

      <mat-option
        *ngFor="let areaOfExpertise of AreaOfExpertise"
        [value]="areaOfExpertise.Id"
      >
        {{ areaOfExpertise.AreaOfExpertiseName }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="f.AreaOfExpertise.touched && f.AreaOfExpertise.invalid">
      <mat-error *ngIf="f.AreaOfExpertise.errors.required"
        >Area Of Expertise is required.</mat-error
      >
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Country</mat-label>
    <mat-select class="form-control" formControlName="CountryId">
      <mat-option selected>--</mat-option>

      <mat-option *ngFor="let Country of Country" [value]="Country.Id">
        {{ Country.CountryName }}
      </mat-option>
    </mat-select>
    <!-- <input
            matInput
            class="form-control"
            placeholder="Country "
            formControlName="Country"
          /> -->
    <mat-error *ngIf="f.CountryId.touched && f.CountryId.invalid">
      <mat-error *ngIf="f.CountryId.errors.required"
        >Country is required.</mat-error
      >
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>City</mat-label>
    <mat-select class="form-control" formControlName="CityId">
      <mat-option selected>--</mat-option>

      <mat-option *ngFor="let city of City" [value]="city.Id">
        {{ city.CityName }}
      </mat-option>
    </mat-select>

    <mat-error *ngIf="f.CityId.touched && f.CityId.invalid">
      <mat-error *ngIf="f.Cityv.errors.required">City is required.</mat-error>
    </mat-error>
  </mat-form-field>

  <button type="submit" [disabled]="!JobForm.valid">Add Job</button>
</form>
