#add-button {
  right: 20px;
  bottom: 10px;
  left: auto;
  position: absolute;
}
.spacer {
  flex: 1 1 auto;
}
.course-card {
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.14),
    0 4px 8px -1px rgba(0, 0, 0, 0.12);
}

.fwb {
  display: block;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.courses {
  max-width: 100px;
  margin: 50px auto;
}
.form {
  overflow: auto;
}
