<p>event-list works!</p>
<div *ngFor="let event of Events">
  <div>EventName:{{ event.EventName }}</div>
  <div>EventDescription:{{ event.EventDescription }}</div>
  <div>EventHeadline:{{ event.EventHeadline }}</div>
  <div>EventDate:{{ event.EventDate }}</div>
  <div>TicketLink:{{ event.TicketLink }}</div>
  <div>Country:{{ event.Country }}</div>
  <div>City:{{ event.City }}</div>
  <a class="btn text-danger" (click)="onDelete(event.Id)">
    <i class="fa fa-trash-o"></i>
  </a>
  <button (click)="EventId(event.Id)">get this event</button>

  <p></p>
  <p></p>
</div>
