<form
  class="example-form"
  [formGroup]="Filter"
  (ngSubmit)="onFormSubmit(Filter.value)"
>
  <div class="container">
    <div class="row mt-3 mb-2">
      <div class="col-6">
        <div class="form-group">
          <mat-form-field appearance="fill" class="fwe">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="rangePicker">
              <input
                matStartDate
                placeholder="Start date"
                formControlName="FromDate"
              />
              <input
                matEndDate
                placeholder="End date"
                formControlName="ToDate"
              />
            </mat-date-range-input>
            <mat-datepicker-toggle
              matSuffix
              [for]="rangePicker"
            ></mat-datepicker-toggle>
            <mat-date-range-picker #rangePicker>
              <mat-date-range-picker-actions>
                <button mat-button matDateRangePickerCancel>Cancel</button>
                <button
                  mat-raised-button
                  color="primary"
                  matDateRangePickerApply
                >
                  Apply
                </button>
              </mat-date-range-picker-actions>
            </mat-date-range-picker>
          </mat-form-field>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <mat-form-field class="fwe">
            <mat-label>Years Of Experience </mat-label>
            <mat-select formControlName="YearsOFExpertiseId">
              <mat-option selected>--</mat-option>

              <mat-option
                *ngFor="let yearsOfExperience of YearsOfExperience"
                [value]="yearsOfExperience.Id"
              >
                {{ yearsOfExperience.YearsOfExperienceThreshold }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row mt-1 mb-1">
      <div class="col">
        <mat-form-field class="fwe">
          <mat-label>Area Of Expertise </mat-label>
          <mat-select formControlName="AreaOfExpertiseId">
            <mat-option selected>--</mat-option>

            <mat-option
              *ngFor="let areaOfExpertise of AreaOfExpertise"
              [value]="areaOfExpertise.Id"
            >
              {{ areaOfExpertise.AreaOfExpertiseName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="fwe">
          <mat-label>Country</mat-label>
          <mat-select formControlName="CountryId">
            <mat-option selected>--</mat-option>

            <mat-option *ngFor="let Country of Country" [value]="Country.Id">
              {{ Country.CountryName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="fwe">
          <mat-label>City</mat-label>
          <mat-select formControlName="CityId">
            <mat-option selected>--</mat-option>

            <mat-option *ngFor="let city of City" [value]="city.Id">
              {{ city.CityName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-2 col-12">
        <button class="btn btn-primary fwe" type="submit">Search</button>
      </div>
    </div>
  </div>
</form>

<div class="container">
  <h2 class="text-center p-3 m-2">Job List</h2>
</div>

<div class="container">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let job of Jobs">
      <div (click)="JobId(job.Id)">
        <h3 class="h">JobTitle:{{ job.JobTitle }}</h3>
        <hr />
        <h4>Description:{{ job.JobDescription }}</h4>
        <p></p>
        <p></p>
      </div>
    </li>
  </ul>
</div>

<div class="container">
  <mat-paginator
    (page)="handlePageEvent($event)"
    [length]="length"
    [pageSize]="pageSize"
    [showFirstLastButtons]="showFirstLastButtons"
    [pageIndex]="pageIndex"
  >
  </mat-paginator>
</div>
