<form
  class="example-form"
  [formGroup]="Filter"
  (ngSubmit)="onFormSubmit(Filter.value)"
>
  <p class="example-full-width" cellspacing="0">
    <mat-form-field appearance="fill" class="example-form-field">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="rangePicker">
        <input
          matStartDate
          placeholder="Start date"
          formControlName="FromDate"
        />
        <input matEndDate placeholder="End date" formControlName="ToDate" />
      </mat-date-range-input>
      <mat-datepicker-toggle
        matSuffix
        [for]="rangePicker"
      ></mat-datepicker-toggle>
      <mat-date-range-picker #rangePicker>
        <mat-date-range-picker-actions>
          <button mat-button matDateRangePickerCancel>Cancel</button>
          <button mat-raised-button color="primary" matDateRangePickerApply>
            Apply
          </button>
        </mat-date-range-picker-actions>
      </mat-date-range-picker>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Years Of Experience </mat-label>
      <mat-select class="form-control" formControlName="YearsOFExpertiseId">
        <mat-option
          *ngFor="let yearsOfExperience of YearsOfExperience"
          [value]="yearsOfExperience.Id"
        >
          {{ yearsOfExperience.YearsOfExperienceThreshold }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p>
  <mat-form-field class="example-full-width">
    <mat-label>Area Of Expertise </mat-label>
    <mat-select class="form-control" formControlName="AreaOfExpertiseId">
      <mat-option
        *ngFor="let areaOfExpertise of AreaOfExpertise"
        [value]="areaOfExpertise.Id"
      >
        {{ areaOfExpertise.AreaOfExpertiseName }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Country</mat-label>
    <mat-select class="form-control" formControlName="CountryId">
      <mat-option *ngFor="let Country of Country" [value]="Country.Id">
        {{ Country.CountryName }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>City</mat-label>
    <mat-select class="form-control" formControlName="CityId">
      <mat-option *ngFor="let city of City" [value]="city.Id">
        {{ city.CityName }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button type="submit">search</button>
</form>

<div *ngFor="let job of Jobs">
  <div (click)="JobId(job.Id)">
    <h3 class="h">JobTitle:{{ job.JobTitle }}</h3>
    <h4>Description:{{ job.JobDescription }}</h4>
    <p></p>
    <p></p>
  </div>
</div>
<mat-paginator
  (page)="handlePageEvent($event)"
  [length]="length"
  [pageSize]="pageSize"
  [showFirstLastButtons]="showFirstLastButtons"
  [pageIndex]="pageIndex"
>
</mat-paginator>
