<app-header></app-header>

<section>
  <nav>
    <div mat-subheader>Admin</div>
    <mat-divider></mat-divider>
    <div>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>business</mat-icon>
              Organizations
            </mat-panel-title>
            <mat-panel-description>
              Your Organization
            </mat-panel-description>
          </mat-expansion-panel-header>

          <button mat-button>Organization 1</button>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <mat-divider></mat-divider>
    <div>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>event</mat-icon>
              Events
            </mat-panel-title>
            <mat-panel-description>
              Your Events
            </mat-panel-description>
          </mat-expansion-panel-header>

          <button mat-button>Event 1</button>
          <div>
            <a mat-button matTooltip="Add New Event">
              <mat-icon>add</mat-icon>
            </a>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-divider></mat-divider>
    </div>
    <div>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>assignment</mat-icon>
              Tasks
            </mat-panel-title>
            <mat-panel-description>
              Your Tasks
            </mat-panel-description>
          </mat-expansion-panel-header>

          <button mat-button>Task 1</button>
          <div>
            <a mat-button matTooltip="Add New Event">
              <mat-icon>add</mat-icon>
            </a>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <mat-divider></mat-divider>

    <mat-divider></mat-divider>
    <div>
      <button mat-raised-button class="a">
        <mat-icon>settings</mat-icon> Settings
      </button>
    </div>
    <mat-divider></mat-divider>
    <div>
      <button mat-raised-button class="a">
        Log Out
      </button>
    </div>
  </nav>
  <article>
   
  </article>
</section>
 