<mat-toolbar
  color="primary"
  *ngIf="!LoginService.IsUserLoggedIn() && !LoginService.IsCorporateLoggedIn()"
>
  <mat-toolbar-row>
    <span class="spacer"></span>
    <a mat-button routerLink="/organizations">
      <mat-icon> business</mat-icon>
      <div class="outer-div"></div>
      Organizations
    </a>
    <a mat-button routerLink="/events">
      <mat-icon> event</mat-icon>
      <div class="outer-div"></div>
      Events
    </a>
    <a mat-button routerLink="/joblist">
      <mat-icon> work</mat-icon>
      <div class="outer-div"></div>
      Jobs
    </a>
    <a mat-button routerLink="/signup">
      <div class="outer-div"></div>
      Join Now
    </a>
    <a mat-button routerLink="/or-signup">
      <div class="outer-div"></div>
      Join Now as Corporates
    </a>
    <a mat-button routerLink="/signin">
      <mat-icon>login</mat-icon>
      <div class="outer-div"></div>
      Sign In
    </a>
  </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar
  color="accent"
  *ngIf="LoginService.IsUserLoggedIn() || LoginService.IsCorporateLoggedIn()"
>
  <mat-toolbar-row>
    <span class="spacer"></span>
    <a mat-button [routerLink]="'/'">
      <mat-icon>home</mat-icon>
      <div class="outer-div"></div>
      Home
    </a>
    <a mat-button>
      <mat-icon>persons</mat-icon>
      <div class="outer-div"></div>
      My Network
    </a>

    <a mat-button>
      <mat-icon>message</mat-icon>
      <div class="outer-div"></div>
      Messages
    </a>
    <a mat-button>
      <mat-icon>notifications</mat-icon>
      <div class="outer-div"></div>
      Notifications
    </a>
    <a mat-button routerLink="/organizations">
      <mat-icon> business</mat-icon>
      <div class="outer-div"></div>
      Organizations
    </a>
    <a mat-button routerLink="/eventlist">
      <mat-icon> event</mat-icon>
      <div class="outer-div"></div>
      Events
    </a>
    <a mat-button routerLink="/joblist">
      <mat-icon> work</mat-icon>
      <div class="outer-div"></div>
      Jobs
    </a>
    <a mat-button [matMenuTriggerFor]="menu">
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/profile">Profile</button>

        <button mat-menu-item>Language</button>
        <button mat-menu-item>Settings</button>
        <button mat-menu-item (click)="LogOut()">Sign Out</button>
      </mat-menu>
      <img
        src="../assets/img/4ae94b54-0c55-493b-abad-23f79f7daae7.jpg"
        alt="Avatar"
        class="avatar"
      />
      <div class="outer-div"></div>
      Me
    </a>
  </mat-toolbar-row>
</mat-toolbar>
