<!-- <form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
  <div class="card m-3">
    <h5 class="card-header">Angular 8 Dynamic Reactive Forms Example</h5>
    <div class="card-body">
      <div class="form-row">
        <div class="form-group">
          <label>Number of Tickets</label>
          <select
            formControlName="numberOfTickets"
            class="form-control"
            (change)="onChangeTickets($event)"
            [ngClass]="{ 'is-invalid': submitted && f.numberOfTickets.errors }"
          >
            <option value=""></option>
            <option *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
              {{ i }}
            </option>
          </select>
          <div
            *ngIf="submitted && f.numberOfTickets.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.numberOfTickets.errors.required">
              Number of tickets is required
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      *ngFor="let ticket of t.controls; let i = index"
      class="list-group list-group-flush"
    >
      <div class="list-group-item">
        <h5 class="card-title">Ticket {{ i + 1 }}</h5>
        <div [formGroup]="ticket" class="form-row">
          <div class="form-group col-6">
            <label>Name</label>
            <input
              type="text"
              formControlName="name"
              class="form-control"
              [ngClass]="{
                'is-invalid': submitted && ticket.controls.name.errors
              }"
            />
            <div
              *ngIf="submitted && ticket.controls.name.errors"
              class="invalid-feedback"
            >
              <div *ngIf="ticket.controls.name.errors.required">
                Name is required
              </div>
            </div>
          </div>
          <div class="form-group col-6">
            <label>Email</label>
            <input
              type="text"
              formControlName="email"
              class="form-control"
              [ngClass]="{
                'is-invalid': submitted && ticket.controls.email.errors
              }"
            />
            <div
              *ngIf="submitted && ticket.controls.email.errors"
              class="invalid-feedback"
            >
              <div *ngIf="ticket.controls.email.errors.required">
                Email is required
              </div>
              <div *ngIf="ticket.controls.email.errors.email">
                Email must be a valid email address
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-center">
      <button class="btn btn-primary mr-1">Buy Tickets</button>
      <button class="btn btn-secondary mr-1" type="reset" (click)="onReset()">
        Reset
      </button>
      <button class="btn btn-secondary" type="button" (click)="onClear()">
        Clear
      </button>
    </div>
  </div>
</form> -->
<!-- <mat-form-field class="full-width">
  <mat-select [(ngModel)]="JobForm.Type" (selectionChange)="onChange()">
    <mat-option
      *ngFor="let questionTypes of QuestionTypes"
      [value]="questionTypes"
    >
      {{ questionTypes }}
    </mat-option>
  </mat-select>
</mat-form-field>
<div *ngIf="showText">
  <label>Question Title</label>
  <input type="text" [(ngModel)]="JobForm.QuestionHeader" />
</div>
<div *ngIf="showMultiChoices">
  <label>Question Title</label>
  <input type="text" [(ngModel)]="JobForm.QuestionHeader" />
  <mat-radio-group>
    <p>
      <mat-radio-button>
        <input type="text" [(ngModel)]="bb" />
      </mat-radio-button>
    </p>
    <mat-radio-button>
      <input type="text" [(ngModel)]="xx" />
    </mat-radio-button>
  </mat-radio-group>
</div>
<button (click)="post(JobForm)">submit</button> -->

<h2 class="page-title">Create Survey</h2>
<mat-card>
  <form [formGroup]="surveyForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="survey-Choices">
      <div formArrayName="JobForm" class="poll-Choices">
        <h3 class="list-title">Add Survey Questions</h3>

        <ol class="list-style">
          <li
            *ngFor="
              let questionCtrl of surveyForm.get('JobForm')['controls'];
              let i = index
            "
          >
            <div [formGroupName]="i">
              <div>
                <mat-form-field class="full-width">
                  <input
                    formControlName="QuestionHeader"
                    maxlength="200"
                    matInput
                    placeholder="Question title"
                    [required]="true"
                  />
                </mat-form-field>
                <mat-form-field class="full-width">
                  <mat-select
                    formControlName="Type"
                    placeholder="Question type"
                    ng-model="myVar"
                    [(value)]="selectedChoices[i]"
                    (selectionChange)="onSeletType(selectedChoices[i], i)"
                    [required]="true"
                  >
                    <mat-option
                      *ngFor="let type of questions"
                      [value]="type.value"
                    >
                      {{ type.viewValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <div
                  formGroupName="QuestionsChoicesViewModelList"
                  [ngSwitch]="selectedChoices[i]"
                >
                  <div *ngSwitchCase="'Single choice'">
                    <div
                      *ngIf="
                        questionCtrl.controls.QuestionsChoicesViewModelList
                          .controls.Choices
                      "
                    >
                      <ul class="question-type" formArrayName="Choices">
                        <li
                          *ngFor="
                            let ChoicesCtrl of questionCtrl.controls
                              .QuestionsChoicesViewModelList.controls.Choices
                              .controls;
                            let j = index
                          "
                        >
                          <div [formGroupName]="j">
                            <mat-form-field>
                              <input
                                formControlName="Choices"
                                matInput
                                placeholder="Choices text"
                                maxlength="100"
                                [required]="true"
                              />
                            </mat-form-field>

                            <button
                              *ngIf="j >= 2"
                              (click)="removeChoices(i, j)"
                              color="warn"
                            >
                              X
                            </button>
                          </div>
                        </li>
                      </ul>
                      <button
                        mat-raised-button
                        type="button"
                        (click)="addChoices(i)"
                        class="mat-sm-button add-Choices-btn"
                        color="accent"
                      >
                        Add Choices
                      </button>
                    </div>
                    <div
                      *ngIf="
                        questionCtrl.controls.QuestionsChoicesViewModelList
                          .controls.showRemarksBox
                      "
                    >
                      <mat-slide-toggle formControlName="showRemarksBox">
                        Show Remarks Textarea
                      </mat-slide-toggle>
                      <mat-form-field class="full-width">
                        <textarea
                          style="resize: none"
                          disabled
                          matInput
                          placeholder="Textarea"
                        ></textarea>
                      </mat-form-field>
                    </div>
                  </div>
                  <div *ngSwitchCase="'Multi choice'">
                    <div
                      *ngIf="
                        questionCtrl.controls.QuestionsChoicesViewModelList
                          .controls.Choices
                      "
                    >
                      <ul class="question-type" formArrayName="Choices">
                        <li
                          *ngFor="
                            let ChoicesCtrl of questionCtrl.controls
                              .QuestionsChoicesViewModelList.controls.Choices
                              .controls;
                            let j = index
                          "
                        >
                          <div [formGroupName]="j">
                            <mat-form-field>
                              <input
                                formControlName="Choices"
                                matInput
                                placeholder="Choices text"
                                maxlength="100"
                                [required]="true"
                              />
                            </mat-form-field>

                            <button
                              mat-raised-button
                              *ngIf="j >= 2"
                              (click)="removeChoices(i, j)"
                              color="warn"
                            >
                              X
                            </button>
                          </div>
                        </li>
                      </ul>
                      <button
                        mat-raised-button
                        type="button"
                        (click)="addChoices(i)"
                        class="mat-sm-button add-Choices-btn"
                        color="accent"
                      >
                        Add Choices
                      </button>
                    </div>
                    <div
                      *ngIf="
                        questionCtrl.controls.QuestionsChoicesViewModelList
                          .controls.showRemarksBox
                      "
                    >
                      <mat-slide-toggle formControlName="showRemarksBox">
                        Show Remarks Textarea
                      </mat-slide-toggle>
                      <mat-form-field class="full-width">
                        <textarea
                          style="resize: none"
                          disabled
                          matInput
                          placeholder="Textarea"
                        ></textarea>
                      </mat-form-field>
                    </div>
                  </div>
                  <div *ngSwitchCase="'Text'">
                    <mat-form-field class="full-width">
                      <textarea
                        style="resize: none"
                        disabled
                        matInput
                        placeholder="Textarea"
                      ></textarea>
                    </mat-form-field>
                  </div>
                  <div *ngSwitchCase="'Rating'">Stars Selected</div>
                </div>
              </div>
              <button
                *ngIf="i > 0"
                mat-mini-fab
                color="warn"
                type="button"
                (click)="onRemoveQuestion(i)"
                class="poll-remove-btn"
              >
                X
              </button>
            </div>
          </li>
        </ol>
        <div fxLayout="row" fxLayoutAlign="end">
          <button type="button" mat-raised-button (click)="onAddQuestion()">
            Add Question
          </button>
        </div>
      </div>
    </div>

    <div class="button-row">
      <button
        class="full-width"
        color="primary"
        type="submit"
        mat-raised-button
        [disabled]="!surveyForm.valid"
      >
        <span *ngIf="!editMode">Add New Survey</span>
        <span *ngIf="editMode">Update Survey</span>
      </button>
    </div>
  </form>
</mat-card>
