<!-- Footer Section -->
<footer class="footer p-3">
  <div class="container" id="footer">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-3 mt-2 mb-2">
        <p class="lead">Volunteer With Us</p>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" routerLink="/volunteer">Join Us</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-3 mt-2 mb-2">
        <p class="lead">About</p>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" routerLink="/aboutus">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contactus">Contact Us</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-3 mt-2 mb-2">
        <p class="lead">Sponsors</p>
      </div>
      <div class="col-12 col-sm-6 col-md-3 mt-2 mb-2">
        <p class="lead">Partners</p>
      </div>
      <div class="col-12 text-center text-light">
        <p>&copy;2020-2021 Website</p>
      </div>
    </div>
  </div>
</footer>
