<!-- <div id="login">
  <div class="login-card">

    <div class="card-title">
      <h1>Create Account</h1>
    </div>

    <mat-card-content>
      <form class="my-form">
      </form>
    </mat-card-content>
    <mat-card class="my-card">
      <mat-card-content>

        <div align="center">
           <form class="my-form" [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
            <mat-form-field class="full-width">
              <mat-label>
                <mat-icon>account_circle</mat-icon>First Name
              </mat-label>
              <input matInput placeholder="First name" name="fname" required />
            </mat-form-field>
            <mat-form-field class="full-width"> 
              <mat-label>
                <mat-icon>account_circle</mat-icon>Last Name
              </mat-label>
              <input matInput placeholder="Last Name" name="lname" required />
            </mat-form-field>
            <section class="example-section" required>
              <mat-label>Gender</mat-label>
              <mat-radio-group required>
                <mat-radio-button class="example-margin" value="after">Male</mat-radio-button>
                <mat-radio-button class="example-margin" value="before">Female</mat-radio-button>
              </mat-radio-group>
            </section>
            <mat-form-field class="full-width">
              <mat-label>
                <mat-icon>location_on</mat-icon>Address
              </mat-label>
              <input matInput placeholder="Address" name="address" required />
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>
                <mat-icon>phone</mat-icon>Phone Number
              </mat-label>
              <input matInput placeholder="Phone Number" name="Phone Number" required />
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>
                <mat-icon>school</mat-icon>University
              </mat-label>
              <input placeholder="University" aria-label="Number" matInput [formControl]="myControl"
                [matAutocomplete]="auto" required />
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let university of filtereduniversity | async" [value]="university">
                  {{ university }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-label>
                <mat-icon>school</mat-icon>Faculty
              </mat-label>
              <input matInput name="Faculty" placeholder="Faculty" required />
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-label for="email">
                <mat-icon>email</mat-icon>Email
              </mat-label>
              <input type="email" matInput placeholder="Email" name="email" required />

            </mat-form-field>-->

<div class="container" style="padding-top: 40px">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card mx-4">
        <div class="card-body p-4">
          <form
            [formGroup]="UserForm"
            (ngSubmit)="onFormSubmit(UserForm.value)"
          >
            <h1 style="text-align: center">Register</h1>
            <div class="input-group mb-4">
              <input
                type="text"
                class="form-control"
                placeholder="FirstName"
                formControlName="FirstName"
              />
            </div>
            <mat-error *ngIf="f.FirstName.touched && f.FirstName.invalid">
              <mat-error *ngIf="f.FirstName.errors.required"
                >First Name is required.</mat-error
              >
              <mat-error *ngIf="f.FirstName.errors.pattern"
                >Please, Enter valid First Name</mat-error
              >
            </mat-error>

            <div class="input-group mb-4">
              <input
                type="text"
                class="form-control"
                placeholder="Last Name"
                formControlName="LastName"
              />
            </div>
            <mat-error *ngIf="f.LastName.touched && f.LastName.invalid">
              <mat-error *ngIf="f.LastName.errors.required"
                >Last Name is required.</mat-error
              >
              <mat-error *ngIf="f.LastName.errors.pattern"
                >Please, Enter valid Last Name</mat-error
              >
            </mat-error>
            <div class="input-group mb-4">
              <input
                type="text"
                class="form-control"
                placeholder="Mobile Number"
                formControlName="MobileNumber"
              />
            </div>
            <mat-error *ngIf="f.MobileNumber.touched && f.MobileNumber.invalid">
              <mat-error *ngIf="f.MobileNumber.errors.required"
                >Mobile Number is required.</mat-error
              >
              <mat-error *ngIf="f.MobileNumber.errors.pattern"
                >Please, Enter valid Mobile Number</mat-error
              >
            </mat-error>

            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Username"
                formControlName="UserName"
                [(ngModel)]="UserName1"
                (change)="CheckUser(UserName1)"
              />
            </div>
            <mat-error>{{ errormessage }}</mat-error>
            <mat-error *ngIf="f.UserName.touched && f.UserName.invalid">
              <mat-error *ngIf="f.UserName.errors.required"
                >UserName is required.</mat-error
              >
            </mat-error>

            <!--
            <div class="input-group mb-4">
              <input
                type="text"
                class="form-control"
                placeholder="Email"
                formControlName="Email"
                #Email
              />
            </div>
            <mat-error *ngIf="f.Email.touched && f.Email.invalid">
              <mat-error *ngIf="f.Email.errors.required"
                >Email is required.</mat-error
              >
              <mat-error *ngIf="f.Email.errors.pattern"
                >Please, Enter valid Email</mat-error
              >
            </mat-error> -->

            <div class="input-group mb-3">
              <input
                type="password"
                class="form-control"
                placeholder="Password"
                formControlName="Password"
                pPassword
              />
            </div>

            <button
              type="submit"
              class="btn btn-block btn-success"
              [disabled]="!UserForm.valid || errormessage != null"
            >
              Sign Up
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <form
  class="emp-form"
  #employeeForm="ngForm"
  (ngSubmit)="onSubmit(employeeForm)"
>
  <input
    type="hidden"
    name="UserID"
    #UserID="ngModel"
    [(ngModel)]="LoginService.SelectedUser.UserID"
  />
  <div class="form-row">
    <div class="form-group col-md-6">
      <input
        class="form-control"
        name="UserName"
        #UserName="ngModel"
        [(ngModel)]="LoginService.SelectedUser.UserName"
        placeholder="Last Name"
        required
      />
      <div
        class="validation-error"
        *ngIf="UserName.invalid && UserName.touched"
      >
        This Field is Required.
      </div>
    </div>
  </div>
  <div class="form-group">
    <input
      class="form-control"
      name="PhoneNumber"
      #PhoneNumber="ngModel"
      [(ngModel)]="LoginService.SelectedUser.PhoneNumber"
      placeholder="PhoneNumber"
    />
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <input
        class="form-control"
        name="Email"
        #Email="ngModel"
        [(ngModel)]="LoginService.SelectedUser.Email"
        placeholder="Email"
      />
    </div>
    <div class="form-group col-md-6">
      <input
        class="form-control"
        name="Password"
        #Password="ngModel"
        [(ngModel)]="LoginService.SelectedUser.Password"
        placeholder="Password"
      />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-8">
      <button
        [disabled]="!employeeForm.valid"
        type="submit"
        class="btn btn-lg btn-block btn-info"
      >
        <i class="fa fa-floppy-o"></i> Submit
      </button>
    </div>
  </div>
</form> -->
