<nav>
  <img
    src="../assets/img/4ae94b54-0c55-493b-abad-23f79f7daae7.jpg"
    alt="Avatar"
    class="avatar"
  />

  <mat-divider></mat-divider>

  <button mat-raised-button class="a">
    <mat-icon>settings</mat-icon> Settings
  </button>
  <mat-divider></mat-divider>

  <div>
    <button mat-raised-button class="a" (click)="LogOut()">Log Out</button>
  </div>
</nav>

<article>
  <mat-tab-group>
    <mat-tab label="Info"
      ><div class="p-grid p-fluid">
        <ul class="p-col-12 p-md-4">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon">User Name</span>
            <input type="text" [(ngModel)]="CorporateData.UserName" disabled />
          </div>
        </ul>
      </div>
      <div class="p-grid p-fluid">
        <ul class="p-col-12 p-md-4">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon">Corporate Name</span>
            <input
              type="text"
              [(ngModel)]="CorporateData.CorporateName"
              disabled
            />
          </div>
        </ul>
      </div>

      <!-- <div class="p-grid p-fluid">
        <ul class="p-col-12 p-md-4">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon">Password</span>

            <input type="text" [(ngModel)]="CorporateData.Password" />
          </div>
        </ul>
      </div> -->
      <div class="p-grid p-fluid">
        <ul class="p-col-12 p-md-4">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon">Email</span>
            <input type="text" [(ngModel)]="CorporateData.Email" />
          </div>
        </ul>
      </div>
      <div class="p-grid p-fluid">
        <ul class="p-col-12 p-md-4">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon">Phone Number</span>
            <input type="text" [(ngModel)]="CorporateData.Phonenumber" />
          </div>
        </ul>
      </div>
      <div class="p-grid p-fluid">
        <ul class="p-col-12 p-md-4">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon">Fax </span>
            <input type="text" [(ngModel)]="CorporateData.Fax" />
          </div>
        </ul>
      </div>
      <div class="p-grid p-fluid">
        <ul class="p-col-12 p-md-4">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon">Address</span>
            <input type="text" [(ngModel)]="CorporateData.Address" />
          </div>
        </ul>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>City</mat-label>
        <mat-select [(ngModel)]="CorporateData.CityId">
          <mat-option selected>--</mat-option>

          <mat-option *ngFor="let city of City" [value]="city.Id">
            {{ city.CityName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Country</mat-label>

        <mat-select [(ngModel)]="CorporateData.CountryId">
          <mat-option selected>--</mat-option>

          <mat-option *ngFor="let country of Country" [value]="country.Id">
            {{ country.CountryName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button (click)="SaveChanges(CorporateData)">save</button>
      <button>cancel</button>
    </mat-tab>
    <mat-tab label="Business">
      <mat-form-field appearance="fill">
        <mat-label>Segment </mat-label>
        <mat-select [(ngModel)]="CorporateData.SegmentId">
          <mat-option selected>--</mat-option>

          <mat-option *ngFor="let segment of Segments" [value]="segment.Id">
            {{ segment.SegmentsName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button (click)="SaveChanges(CorporateData)">save</button>
      <button>cancel</button>
    </mat-tab>
  </mat-tab-group>
</article>
