<form name="form" (ngSubmit)="login()" #f="ngForm">
  <div id="login">
    <div class="login-card">
      <div class="card-title">
        <h1>Sign In</h1>
      </div>
      <mat-card class="content" align="center">
        <mat-card-content>
          <div>
            <div class="form-group">
              <mat-form-field class="full-width">
                <mat-label>
                  <!-- <mat-icon>user</mat-icon> -->
                  User Name
                </mat-label>
                <input
                  class="form-control"
                  name="UserName"
                  placeholder="UserName"
                  [(ngModel)]="model.UserName"
                  required
                  matInput
                />
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field class="full-width">
                <mat-label>
                  <mat-icon>lock</mat-icon>
                  Password
                </mat-label>
                <input
                  type="password"
                  class="form-control"
                  #Password="ngModel"
                  name="Password"
                  [(ngModel)]="model.Password"
                  required
                  placeholder="Password"
                  id="mysecretpassword"
                  matInput
                  showHideInput
                />
                <i
                  matSuffix
                  class="material-icons"
                  showHideTrigger="mysecretpassword"
                  [showHideStatus]="{
                    materialIcon: true,
                    id: 'mysecretpassword'
                  }"
                ></i>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>

        <div>
          <p
            style="color: #e92626; font-size: 20px; font-weight: normal"
            Class="success"
            align="left"
          >
            {{ errorMessage }}
          </p>
        </div>
        <mat-card-actions>
          <div class="form-group">
            <button mat-raised-button color="primary" type="submit">
              Sign In
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</form>
