<div id="form">
  <div class="form-card">
    <div class="card-title">
      <h1>Please Answer Following Questions</h1>
    </div>

    <mat-card-content>
      <form class="my-form">
        <!--FORM FIELDS-->
      </form>
    </mat-card-content>
    <mat-card class="my-card">
      <mat-card-content>

        <div align="center">
          <form class="my-form">
            <mat-form-field class="full-width">
              <mat-label></mat-label>
              <input matInput placeholder="" name="" required />
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label></mat-label>
              <input matInput placeholder="" name="" required />
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label></mat-label>
              <input matInput placeholder="" name="" required />
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput placeholder="" name="" required />
            </mat-form-field>
            <mat-form-field class="modal-body" appearance="fill">
              <mat-label>You Volunteering Experience</mat-label>
              <textarea matInput required></textarea>
            </mat-form-field>
            <mat-form-field class="modal-body" appearance="fill">
              <mat-label>Past Experience in this field</mat-label>
              <textarea matInput required></textarea>
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label></mat-label>
              <input matInput placeholder="" name="" required />
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label></mat-label>
              <input matInput placeholder="" name="" required />
            </mat-form-field>





          </form>

          <mat-card-actions>
            <div align="center">
              <button mat-raised-button color="primary">
                Submit
              </button>
            </div>
