<div class="container" style="padding-top: 40px">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card mx-4">
        <div class="card-body p-4">
          <form
            [formGroup]="CorporateForm"
            (ngSubmit)="onFormSubmit(CorporateForm.value)"
          >
            <h1 style="text-align: center">Register</h1>
            <div class="input-group mb-4">
              <input
                type="text"
                class="form-control"
                placeholder="Corporate Name"
                formControlName="CorporateName"
                [(ngModel)]="CorporateName"
                (change)="CheckCorporateByCorporateName(CorporateName)"
              />
            </div>
            <mat-error>{{ ErrorMessage }}</mat-error>

            <mat-error
              *ngIf="f.CorporateName.touched && f.CorporateName.invalid"
            >
              <mat-error *ngIf="f.CorporateName.errors.required"
                >Corporate Name is required.</mat-error
              >
            </mat-error>

            <div class="input-group mb-4">
              <input
                type="text"
                class="form-control"
                placeholder="Phone Number"
                formControlName="Phonenumber"
              />
            </div>
            <mat-error *ngIf="f.Phonenumber.touched && f.Phonenumber.invalid">
              <mat-error *ngIf="f.Phonenumber.errors.required"
                >Phone Number is required.</mat-error
              >
              <mat-error *ngIf="f.Phonenumber.errors.pattern"
                >Please, Enter valid Phone Number</mat-error
              >
            </mat-error>

            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Username"
                formControlName="UserName"
                [(ngModel)]="CorporateUserName"
                (change)="CheckCorporateByUserName(CorporateUserName)"
              />
            </div>
            <mat-error>{{ errormessage }}</mat-error>
            <mat-error *ngIf="f.UserName.touched && f.UserName.invalid">
              <mat-error *ngIf="f.UserName.errors.required"
                >UserName is required.</mat-error
              >
            </mat-error>

            <div class="input-group mb-3">
              <input
                type="password"
                class="form-control"
                placeholder="Password"
                formControlName="Password"
                pPassword
              />
            </div>

            <button
              type="submit"
              class="btn btn-block btn-success"
              [disabled]="!CorporateForm.valid || errormessage != null"
            >
              Sign Up
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
