<section>
  <nav>
    <img
      src="../assets/img/4ae94b54-0c55-493b-abad-23f79f7daae7.jpg"
      alt="Avatar"
      class="avatar"
    />

    <mat-divider></mat-divider>
    <div>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>description</mat-icon>
              Forms
            </mat-panel-title>
            <mat-panel-description> Your Forms </mat-panel-description>
          </mat-expansion-panel-header>

          <button mat-button>Form 1</button>
          <div>
            <a mat-button matTooltip="Add New Form" routerLink="/forms">
              <mat-icon>add</mat-icon>
            </a>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <mat-divider></mat-divider>
    <div>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>event</mat-icon>
              Events
            </mat-panel-title>
            <mat-panel-description> Your Events </mat-panel-description>
          </mat-expansion-panel-header>

          <button mat-button>Event 1</button>
          <div>
            <a mat-button matTooltip="Add New Event" (click)="open(content)">
              <mat-icon>add</mat-icon>
            </a>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-divider></mat-divider>
    </div>
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add Event</h4>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="dateOfBirth">Date of event</label>
            <div class="input-group">
              <input
                id="dateOfBirth"
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="dp"
                ngbDatepicker
                #dp="ngbDatepicker"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary calendar"
                  (click)="dp.toggle()"
                  type="button"
                >
                  <i class="material-icons">today</i>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <mat-form-field class="modal-body">
        <mat-label>Event Name </mat-label>
        <input matInput placeholder="Event name" name="eventname" required />
      </mat-form-field>
      <mat-form-field class="modal-body">
        <mat-label for="Field">Field:</mat-label>
        <select id="Field" matNativeControl required>
          <option value="Business">Business</option>
          <option value="Charity">Charity</option>
          <option value="Engenering">Engenering</option>
          <option value="Medical">Medical</option>
          <option value="Others">Others</option>
        </select>
      </mat-form-field>
      <mat-form-field class="modal-body">
        <mat-label for="Place">Place:</mat-label>
        <select id="Place" matNativeControl required>
          <option value="Alexandria">Alexandria</option>
          <option value="Cairo">Cairo</option>
        </select>
      </mat-form-field>
      <mat-form-field class="modal-body">
        <mat-label maxlength="25">Headline</mat-label>
        <input matInput placeholder="Headline" name="Headline" required />
      </mat-form-field>
      <mat-form-field class="modal-body" appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      <mat-form-field
        class="modal-body"
        [formGroup]="form"
        (ngSubmit)="submit()"
      >
        <mat-label for="url">Tickets Link </mat-label>
        <input
          formControlName="url"
          id="url"
          type="text"
          matInput
          placeholder="Tickets Link"
          name="Tickets Link"
        />
        <mat-error
          *ngIf="f.url.touched && f.url.invalid"
          class="alert alert-danger"
        >
          <mat-error *ngIf="f.url.errors.pattern"
            >Please enter valid url</mat-error
          >
        </mat-error>
      </mat-form-field>
      <div class="modal-footer">
        <button
          class="btn btn-outline-dark"
          type="submit"
          [disabled]="!form.valid"
        >
          Add
        </button>
      </div>
    </ng-template>

    <button mat-raised-button class="a" routerLink="/members">
      <mat-icon>view_list</mat-icon>Members
    </button>
    <router-outlet></router-outlet>

    <mat-divider></mat-divider>
    <div>
      <button mat-raised-button class="a">
        <mat-icon>settings</mat-icon> Settings
      </button>
    </div>
    <mat-divider></mat-divider>

    <div>
      <button mat-raised-button class="a" >Log Out</button>
    </div>
  </nav>
  <article>
    
    <div class="p-grid p-fluid">
      <ul class="p-col-12 p-md-4">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
          <li class="list-group-item" pInputText></li>
        </div>
      </ul>
    </div>
<ul *ngFor="let user of  UserData">
  <li> {{user.UserName}}</li>
</ul>  
    
  </article>
</section>
