<form [formGroup]="orderForm" (ngSubmit)="submit()">
  <div
    formArrayName="items"
    *ngFor="let item of orderForm.get('items')['controls']; let i = index"
  >
    <div [formGroupName]="i">
      <div *ngFor="let Items of items">
        <p>{{ Items.QuestionHeader }}</p>
        <input *ngIf="IsTextBox(Items)" type="text" formControlName="Answer" />
        <section
          class="example-section"
          *ngFor="let Items2 of Items.QuestionsChoicesViewModelList"
        >
          <p *ngIf="IsChoices(Items)">
            <input
              type="checkbox"
              class="example-margin"
              formControlName="Answer"
            />
            {{ Items2.Choices }}
          </p>
          <p *ngIf="IsMultiChoices(Items)">
            <input
              type="checkbox"
              class="example-margin"
              formControlName="Answer"
            />
            {{ Items2.Choices }}
          </p>
        </section>
      </div>

      <button mat-button type="submit">submit</button>
    </div>
  </div>
</form>
