<form [formGroup]="orderForm" (ngSubmit)="submit()">
  <div
    formArrayName="items"
    *ngFor="let item of orderForm.get('items')['controls']; let i = index"
  >
    <div [formGroupName]="i" [ngSwitch]="item.get('Type').value">
      <p>{{ item.get("QuestionHeader").value }}</p>

      <input *ngSwitchCase="'TextBox'" type="text" formControlName="Answer" />
      <section class="example-section">
        <div *ngSwitchCase="'MultiChoices'">
          <mat-selection-list #Choices formControlName="Answer">
            <mat-list-option
              *ngFor="let y of item.get('QuestionsChoicesViewModelList').value"
            >
              {{ y.Choices }}
            </mat-list-option>
          </mat-selection-list>
          <p>
            Options selected:
            {{ Choices.selectedOptions.selected.length }}
          </p>
        </div>
      </section>
    </div>
  </div>
  <button mat-button type="submit">submit</button>
</form>
