<form [formGroup]="orderForm" (ngSubmit)="submit()">
  <div
    formArrayName="items"
    *ngFor="let item of orderForm.get('items')['controls']; let i = index"
  >
    <div [formGroupName]="i" [ngSwitch]="item.get('Type').value">
      <p>{{ item.get("QuestionHeader").value }}</p>

      <p></p>
      <input *ngSwitchCase="'TextBox'" type="text" formControlName="Answer" />
      <section class="example-section">
        <div *ngFor="let y of item.get('QuestionsChoicesViewModelList').value">
          <div *ngSwitchCase="'Choices'">
            <!-- {{ item.get("QuestionsChoicesViewModelList.Choices").value }} -->

            <input
              type="checkbox"
              class="example-margin"
              formControlName="Answer"
            />
          </div>

          <p *ngSwitchCase="'MultiChoices'">
            <!-- <mat-checkbox class="example-margin" formControlName="Answer"
              ></mat-checkbox
            > -->
            <input
              type="checkbox"
              class="example-margin"
              formControlName="Answer"
            />
          </p>
        </div>
      </section>
    </div>
  </div>
  <button mat-button type="submit">submit</button>
</form>
